@font-face {
  font-family: 'DungGeunMo', 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff') url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: 400;
  font-style: normal; 
}

html{scroll-behavior: smooth;}

body {
  background: #000000;
  color: #EC5FF7;
  position: relative;
}

.bg {
	position: absolute;
	right: 0;
	bottom: 0;
	top: -80px;
	width: 100%;
	z-index: -1;
	margin: 0px;
}

.box {
  margin: auto;
  margin-top: 70px;
  width: 1030px;
  box-shadow: 20px 20px 45px #000000;
}

.boxinbox {
  width: 1000px;
  margin: -2px 14px;
}

.box, .boxinbox {
	height: 832px;
}

.box, .boxinbox, header, .step, .id, .buttons, .minifooter {
  box-sizing: border-box;
  background: #111111;
  border: 2px solid #EC5FF7;
}

.wrapper {
  display: flex;
  justify-content: space-between;
	width: 50px;
  align-items: center;
  padding: 6px 5px 6px 941px;
}

.wrapper img{
	width: 15px;
	height: 15px;
}

header {
  padding: 20px 50px 15px 20px;
  width: 1000px;
	height: 113px;
  margin-left: -2px;
 	font-family: 'DungGeunMo';
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}

h1 {
	font-size: 30px;
	margin: 0px;
}

header h2 {
	font-size: 18px;
	margin: 0px;
	margin-top: 19px;
	}

.step, .buttons {
  font-family: 'DungGeunMo';
  background: #111111;
  width: 1000px;
  margin-left: -2px;
  margin-top: -2px;
}

.step {
	height: 27px;
  padding-left: 20px;
}

.idpng {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url('id.png');
  background-size: 100%;
	width: 583px;
	height: 378px;
	margin-left: 13px;
  background-position: center;
}

.submits {
	margin-left: 90px;
}

.submits input {
	font-family: 'D2Coding';
	text-align: right;
}

.submits input:input {
	background: none;
}

input[type=text] {
	margin-top: 8px;
  width: 200px;
  background: none;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1.9px solid black;
}

input[id=name] {
	margin-top: 107px;
}

input[id=address] {
	margin-top: 19.3px;
}

input[id=date] {
	margin-top: -2px;
}

input[id=location] {
	margin-top: -2px;
}

#camcontainer {
  height: 222px;
  width: 192px;
  margin-left: 53px;
}

#videoElement {
  margin-top: 35px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


h3 {
	font-size: 14px;
	margin-top: 4px;
}

.id, .buttons {
	margin-top: -2px;
	margin-left: 35px;
	width: 930px;
}

.id {
	display: flex;
	align-items: center;
	height: 407.96px;
	padding-left: 153px;
	padding-top: 6px;
}

.idbox {
	width: 623.81px;
	height: 391.77px;
	background: #111111;
	border: 2px solid #EC5FF7;
	border-radius: 5px;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
	padding-left: 4px;
	padding-top: 2px;
}

.idboxinbox{
	width: 612px;
	height: 378px;
	background: #111111;
	border: 2px dashed #EC5FF7;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding-left: 4px;
	padding-top: 3px;
}

.buttons {
	height: 247px;
	padding-left: 153px;
	font-size: 20px;
}

.submit {
	position: absolute;
	background: none;
	width: 46px;
	height: 28px;
	border: 2px solid #EC5FF7;
	border-radius: 4px;
	font-family: 'D2Coding';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 11px;
	align-items: center;
	color: #EC5FF7;
	margin-left: 520px;
}

.submit:hover {
	background: #EC5FF7;
	color: #111111;
}

h4{
	line-height: 27px;
}

.select {
	line-height: 22px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 16px;
  border: 1px solid #EC5FF7;
  border-radius: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  width: 17px;
  height: 17px;
  background: #EC5FF7;
  border: 1px solid #EC5FF7;
	vertical-align: middle;
}

label {
  vertical-align: middle;
}

.minifooter {
	font-family: 'D2Coding';
	height: 20px;
	margin-top: -6px;
	padding-left: 15px;
	width: 1000px;
  margin-left: -2px;
  margin-bottom: 40px;
}

.minifooter p {
	margin-top: -0.7px;
}