
@font-face {
  font-family: 'DungGeunMo', 'D2Coding', 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff')
  		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: 400;
  font-style: normal; 
}
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html{
	scroll-behavior: smooth;
	cursor: url('cur.png');
}

body {
  background: #000000;
  color: #E1E1E1;
  position: relative;
}

.bg {
	position: absolute;
	right: 0;
	bottom: 0;
	top: -80px;
	width: 120%;
	z-index: -1;
	margin: 0px;
}

.box {
  margin: auto;
  margin-top: 70px;
  width: 1030px;
  box-shadow: 20px 20px 45px #000000;
}

.boxinbox {
  width: 1000px;
  margin: -2px 14px;
}

.box, .boxinbox {
	height: 1597px;
}

.box, .boxinbox, nav, .menu1, .menu2, .menu3, section {
  box-sizing: border-box;
  background: #111111;
  border: 2px solid #E1E1E1;
}

.wrapper, .menu, nav, .logo, .menu1, .menu2, .menu3, .cirles {
  display: flex;
  justify-content: space-between;
}

.wrapper {
	width: 50px;
  align-items: center;
  padding: 6px 5px 6px 941px;
}

.wrapper img{
	width: 15px;
	height: 15px;
}

button {
	width: 26px;
	height: 26px;
	margin-right: 3px;
	padding: 0;
}

button img {
	rotate: -90deg;
}

nav {
  padding: 6px 5px 6px 20px;
  width: 1000px;
  height: 44px;
  margin-left: -2px;
}

nav h1 {
  font-family: 'Chathura';
  font-size: 40px;
  margin-top: -19px;
}

nav h2 {
	padding-left: 8px;
}

header {
	background-image: url('hbg.gif');
	display: flex;
	background-size: 100%;
	justify-content: center;
	position: relative;
	padding-top: 40px;
	color: #E1E1E1;
	width: 996px;
	height: 256px;
	align-items: center;
}

header img {
	margin-top: -30px;
	padding-left: 35px;
	padding-right: 70px;
	width: 156px;
	height: 156px;
}

header h2 {
	font-size: 80px;
	margin-top: 15px;
}

header h3 {
	font-size: 45px;
	margin-top: -100px;
}

header h2, header h3 {
    font-family: 'BookkMyungjo-Bd';
    text-shadow: 
        -1px -1px 0 black, 
         1px -1px 0 black, 
        -1px  1px 0 black, 
         1px  1px 0 black;
    display: inline-block;
}


.logo img {
	width: 29px;
	height: 29px;
  margin-right: 13px;
}

.menu {
  font-family: 'DungGeunMo';
  font-size: 10px;
  margin-right: 0px;
 	align-items: center;
}

.menu1, .menu2, .menu3 {
	height: 32px;
	align-items: center;
}

.menu1, .menu2 {
  width: 122px;
  margin-right: 3px;
}

.menu3 {
  width: 158px;
}

.hi, .intro, .details {
  font-family: 'DungGeunMo';
  background: #111111;
  width: 1000px;
  margin-left: -2px;
  padding-left: 37px;
  padding-top: 30px;
}

.hi {
	height: 284px;
}

.intro {
	height: 308px;
	margin-top: -2px;
}

.details {
	height: 630px;
	margin-top: -6px;
}

.details img {
	margin-right: 60px;
}

h4, h5 {
	line-height: 140%;
  font-size: 20px;
}

.circles {
    margin-top: 44px;
    width: 883px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circle-container {
    width: 248px;
    height: 248px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-container:hover .circle1 {
    opacity: 1;
}

.circle-container:hover .circle2 {
    opacity: 1;
}

.circle-container:hover .circle3 {
    opacity: 1;
}

.circle1,
.circle2,
.circle3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 242px;
    height: 242px;
    background: #111111;
    border-radius: 50%;
    border: 3px solid #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out;

    z-index: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.text {
    text-align: center;
    color: #E1E1E1;
    font-family: 'DungGeunMo';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 22px;
}



.details p {
	font-family: 'D2Coding';
	font-size: 10px;
	line-height: 14px;
	color: rgba(255, 255, 255, 0.3);
	margin-top: 60px;
}

.minifooter {
	font-family: 'D2Coding';
	height: 20px;
	margin-top: -6px;
	padding-left: 15px;
	width: 1000px;
  margin-left: -2px;
  margin-bottom: 40px;
}

.minifooter p {
	margin-top: -0.7px;
}

a {
	color: #E1E1E1;
	text-decoration: none;
}